# This file will contain the files and folders that GIT will not allow to follow.

# Ignore NodeJs modules
node_modules/

# Ignore the Parcel-cache folder
.parcel-cache/

# Ignore all files starting with . or ~
.*
~*

# Ignore the 'dist' folder file, it will only be used in development mode inside the developers local machines.
dist/