@use "../components/button" as *;

#contactForm {
  width: 80%;
  max-width: 290px;
  margin: 0 auto;
  margin-top: 57px;
}

.form__field:not(.form__field:last-child) {
  margin-bottom: 15px;
}

.field__label {
  display: block;
  width: 100%;
  margin-bottom: 5px;

  font-size: 14px;

  @media (min-width: 1280px) {
    font-size: 16px;
  }
}

.text-input {
  display: block;
  width: 100%;
  padding: 0.25rem 0.75rem;

  appearance: none;
  border: 2px solid #000000;
  border-radius: 4px;

  @media (min-width: 1280px) {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  &:focus {
    outline: none;
    border-color: #876445;
  }
}

.text-input_invalid {
  border-color: #ff1e00;
}

.text-input_valid {
  border-color: #59ce8f;
}

.check-input {
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #000000;

  &:focus {
    outline: none;
    border-color: #876445;
  }

  &:valid:not(&:placeholder-shown) {
    border-color: #7fb77e;
  }

  &:checked {
    background-color: #876445;
    background-clip: content-box;
  }
}

.checkbox-field > .field__label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.button {
  @extend .button;
  width: 80%;
  padding: 14px 16px;
  border: none;
  margin-top: 25px;

  &:focus {
    outline: 2px solid #876445;
  }
}
