@use "../abstracts/variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

:root {
    font-size: $font-size;
}

body {
    font-family: $font-family;
}

strong {
    color: #76BA99;
    font-style: italic;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: currentColor;
}