@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fsize: 16px;
  --font-family: "Merriweather", serif;
  --primary-color: #eddfb3;
  --margin-bottom: 150px;
  --margin-top: 150px;

  color: #000;
  font-size: var(--fsize);
}

body {
  font-family: var(--font-family);
  line-height: 120%;
  letter-spacing: 0.03em;
}

strong {
  color: #76ba99;
  font-style: italic;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: currentColor;
}

textarea {
  height: 125px;
  resize: vertical;
}

button {
  appearance: none;
}

small,
address {
  display: block;
  font-size: 0.7rem;
}

html {
  scroll-behavior: smooth;
}
