@import "https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,700&display=swap";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: currentColor;
  text-decoration: none;
  display: block;
}

:root {
  font-size: 16px;
}

body {
  font-family: Merriweather, serif;
}

strong {
  color: #76ba99;
  font-style: italic;
}

.hero {
  height: 100vh;
  background-color: #76ba99;
  overflow: hidden;
}

.hero__header {
  max-width: 80vw;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: .5rem auto;
  display: flex;
}

.website-logo {
  width: 90px;
}

.icon {
  width: 24px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

#burgerMenu {
  background-image: url("burger-menu.d116fb58.svg");
}

.hero__content {
  max-width: 75%;
  margin: 150px auto;
}

.hero__subtitle {
  text-align: center;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #eddfb3;
  font-size: 2rem;
  font-weight: bold;
  line-height: 120%;
}

.hero__message {
  text-align: center;
  color: #fff;
  font-size: 6vw;
  font-weight: bold;
  line-height: 120%;
}

.hero__text {
  letter-spacing: .03em;
  text-align: center;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 130%;
}

.button {
  max-width: 80%;
  text-align: center;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #828282;
  background-color: #eddfb3;
  border-radius: 6px;
  margin: 0 auto;
  padding: 8px 16px;
  font-weight: bold;
  line-height: 120%;
}

#aboutUs, #services, #pictures {
  max-width: 80vw;
  margin: 100px auto;
}

.title {
  font-size: 25px;
  line-height: 120%;
}

#aboutUsImage {
  width: 90%;
  height: 250px;
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin: 57px auto;
}

.text {
  letter-spacing: .03em;
  line-height: 130%;
}

.cards-container {
  margin-top: 57px;
}

.card {
  grid-template: repeat(2, auto) / repeat(2, 50%);
  gap: 3% 1.5%;
  display: grid;
}

.card__title {
  grid-area: 1 / 2 / 2 / 3;
  align-self: end;
  font-size: 1rem;
  line-height: 120%;
}

.card__text {
  letter-spacing: .03em;
  grid-area: 2 / 2 / 3 / 3;
  font-size: .8rem;
  line-height: 130%;
}

.card__image {
  height: 90%;
  object-fit: contain;
  border-radius: 6px;
  grid-area: 1 / 1 / 3 / 2;
}

.photo-container {
  margin-top: 57px;
}

.photo {
  position: relative;
}

.photo__image {
  border-radius: 6px;
}

.photo__title {
  max-width: 150px;
  text-align: center;
  text-align: center;
  color: #fff;
  background-color: #7e7e7ed9;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: bold;
  line-height: 120%;
  position: absolute;
  bottom: 2.5%;
  left: 5%;
}

