// Importing the defaults
@use "./base/defaults";

// Importing the components:
@use "./components/button";
@use "./components/card";
@use "./components/photo";
@use "./components/contactForm";
@use "./components/sidebar";

// Importing the layout
@use "./layout/header";
@use "./layout/sections";
@use "./layout/footer";

// Common styles...
.title {
  font-size: 1.5rem;
  line-height: 120%;

  @media (min-width: 1280px) {
    font-size: 2.2rem;
  }
}

.text {
  max-width: 500px;
  line-height: 130%;
  letter-spacing: 0.03em;
}
