// Importing the components:
@use "./components/button";
@use "./components/card";
@use "./components/photo";

// Importing the layout
@use "./layout/header";
@use "./layout/sections";

.title {
    font-size: 25px;
    line-height: 120%;
}

.text {
    line-height: 130%;
    letter-spacing: 0.03em;
}

.cards-container {
    margin-top: 57px;
}

.photo-container {
    margin-top: 57px;
}
